{#  Copyright 2014 Arnaud Bienvenu

    This file is part of Kyela.

    Kyela is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Kyela is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Kyela.  If not, see <http://www.gnu.org/licenses/>.

#}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Kyéla - {{ poll is defined and poll and poll.title ? poll.title : 'bottom.line'|trans }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="{% trans %}meta.description{% endtrans %}">
	    <meta name="copyright" content="Arnaud Bienvenu, France">
	    <meta name="application-name" content="Kyela">
        {% block robots %}
	        <meta name="robots" content="noindex, nofollow">
        {% endblock %}

        {% stylesheets 'bundles/kyela/css/*' filter='cssrewrite' %}
        	<link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        {% javascripts '@KyelaBundle/Resources/public/js/*' %}
        	<script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
    <div id="wrap">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="{{ path('poll_new') }}">Kyéla</a>
	        </div>
		    <div class="collapse navbar-collapse">
		    	<ul class="nav navbar-nav">
		    		{% if poll is defined and poll and poll.title %}
		    			<li><a href="{{ path('poll_show', {'pollUrl': poll.url}) }}">{{ poll.title }}</a>
		    		{% endif %}
		    		<li><a href="{{ path('kyela_faq') }}">{% trans %}faq{% endtrans %}</a></li>
		    		<li><a href="{{ path('kyela_about') }}">{% trans %}about{% endtrans %}</a></li>
		    		<li><a href="{{ path('kyela_thanks') }}">{% trans %}thanks{% endtrans %}</a></li>
		    		<li><a href="{{ path('kyela_contact') }}">{% trans %}contact{% endtrans %}</a></li>
					{% set routeParams = app.request.get('_route_params') %}
				    {% for locale, language in {'en': 'English', 'fr': 'Français'} %}
				    	{% if locale != app.request.locale %}
						    {% set routeParams = routeParams|merge({'_locale': locale}) %}
						    <li><a href="{{ path('kyela_switch', routeParams) }}">{{ language }}</a></li>
				    	{% endif %}
				    {% endfor %}
		    		</ul>
		    </div>
	      </div>
	    </div>
	    {% if app.session.flashbag.has('success') %}
	    <div class="panel panel-success">
	    	<div class="panel-heading">
	    		<h3 class="panel-title">{% trans %}success{% endtrans %}</h3>
	    	</div>
	    	<div class="panel-body">
				{% for flashMessage in app.session.flashbag.get('success') %}
					{{ flashMessage|raw }}<br />
				{% endfor %}
	    	</div>
	    </div>
	    {% endif %}
	    <div class="container">
	   		{% block body %}{% endblock %}
	    </div>
    </div>
    <div id="footer">
    	<p>
    		&copy; Arnaud Bienvenu 2014 - v0.6 -
    		Icons by <a href="http://glyphicons.com/">GLYPHICONS.com</a> -
    		<span id="forkongithub"><a href="https://github.com/abienvenu/Kyela">Fork me on GitHub</a></span> -
    		{% image 'https://insight.sensiolabs.com/projects/bca46a72-4438-47e7-b629-4b9926e802a6/small.png' %}
    			<a href="https://insight.sensiolabs.com/projects/bca46a72-4438-47e7-b629-4b9926e802a6"><img src="{{ asset_url }}" alt="SensioLabsInsight Medal" /></a>
    		{% endimage %}
    	</p>
    </div>
    </body>
</html>
