{% extends 'layout.html.twig' %}

{% block body %}
	<div class="container-fluid mt-4">
		<div class="card shadow-lg p-4 position-relative mb-4 text-center">
			<h1>{{ 'events' | trans }} - {{ poll.title }}</h1>
		</div>
		<div class="card shadow-lg p-4 position-relative">
			<div class="table-container">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th scope="col" class="table-secondary">{{ 'name' | trans }}</th>
							<th scope="col" class="table-secondary d-none d-lg-table-cell">{{ 'Place' | trans }}</th>
							<th scope="col" class="table-secondary">{{ 'Date' | trans }}</th>
							<th scope="col" class="table-secondary d-none d-xl-table-cell">{{ 'Subtitle' | trans }}</th>
							<th scope="col" class="table-secondary">{{ 'action' | trans }}</th>
						</tr>
					</thead>
					<tbody>
						{% for event in events %}
							<tr>
								<td>{{ event.name }}</td>
								<td class="d-none d-lg-table-cell">{{ event.place }}</td>
								<td>
									{% if event.date %}
										{{ event.date|format_datetime(locale: app.request.locale, pattern: "d MMMM") }}
									{% endif %}
									{% if event.time %}
										{{ event.time|format_datetime(locale: app.request.locale, pattern: "H'h'mm") }}
									{% endif %}
								</td>
								<td class="d-none d-xl-table-cell">
									<small class="subtitle">{{ event.subtitle }}</small>
								</td>
								<td>
									<div class="btn-group" role="group">
										<a class="btn btn-warning btn-gradient" role="button"
											href="{{ path('app_event_edit', {url: poll.url, id: event.id}) }}">
											<i class="bi bi-pencil-square"></i>
											<span class="d-none d-md-inline ms-1">{{ 'edit' | trans }}</span>
										</a>
										<a class="btn btn-secondary btn-gradient" role="button"
											href="{{ path('app_event_duplicate', {url: poll.url, id: event.id}) }}">
											<i class="bi bi-copy"></i>
											<span class="d-none d-md-inline ms-1">{{ 'duplicate' | trans }}</span>
										</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="mt-2 row">
				<div class="col-sm-10">
					<a role="button" class="btn btn-lg btn-secondary btn-gradient me-2"
						href="{{ path('app_poll_show', {url: poll.url}) }}">
						<i class="bi bi-skip-backward me-2"></i>
						{{ 'back' | trans }}
					</a>
					<a role="button" class="btn btn-lg btn-success btn-gradient ms-2"
						href="{{ path('app_event_new', {url: poll.url}) }}">
						<i class="bi bi-calendar-plus me-2"></i>{{ 'add' | trans }}
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
