<button class="btn btn-light position-absolute top-0 end-0 mt-2 me-2 z-3 toggle-button" data-bs-toggle="collapse"
	data-bs-target="#eventTable" aria-expanded="true">
	<i class="bi bi-calendar3"></i>
</button>

<div id="eventTable" class="collapse show">
	{% if events %}
		<div class="table-container events-container">
			<table class="table table-hover w-auto mx-auto sticky">
				<tbody>
					{% for event in events %}
						<tr>
							<td>
								<span class="badge bg-primary">{{ event.participationsScore }}</span>
							</td>
							<td class="text-start">
								{% if event.date %}
									{% if isArchive %}
										{{ event.date|
										format_datetime(locale: app.request.locale, pattern: "cccc d MMMM YYYY") }}
									{% else %}
										{{ event.date|format_datetime(locale: app.request.locale, pattern: "cccc d MMMM") }}
									{% endif %}
								{% endif %}
							</td>
							<td class="text-start">
								{% if event.time %}
									{{ event.time|format_datetime(locale: app.request.locale, pattern: "H'h'mm") }}
								{% endif %}
							</td>
							<td class="text-start">
								{{ event.place }}
							</td>
							<td class="text-start">
								{% if event.subtitle %}
									<small class="subtitle">{{ event.subtitle }}</small>
								{% endif %}
							</td>
							<td class="text-start">
								<strong>{{ event.name }}</strong>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<div class="text-center">
			{{ 'no.event' | trans }}
			<a role="button" class="btn btn btn-success btn-gradient m-2"
				href="{{ path('app_event_new', {url: poll.url}) }}">
				<i class="bi bi-calendar-plus me-2"></i>{{ 'add' | trans }}
			</a>
		</div>
	{% endif %}
</div>
