{% extends 'layout.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<div class="card shadow-lg p-4 position-relative mb-4 text-center">
			<h1>{{ 'participants' | trans }} - {{ poll.title }}</h1>
		</div>

		<div class="card shadow-lg p-4 position-relative">
			<form id="participants-form" method="post" action="{{ path('app_participant_update', { url: poll.url }) }}">
				<table class="table table-sm table-hover table-bordered">
					<thead>
						<tr>
							<th scope="col" class="table-secondary"></th> {# Poignée Drag & Drop #}
							<th scope="col" class="table-secondary">{{ 'name' | trans }}</th>
							<th scope="col" class="table-secondary"></th>
						</tr>
					</thead>
					<tbody id="participants-list">
						{% for participant in poll.participants %}
							<tr data-id="{{ participant.id }}">
								<td class="handle text-start">
									<i class="bi bi-list fs-4" style="cursor: grab;"></i>
								</td>
								<td>
									<input type="text" name="participants_name[]"
										value="{{ participant.name }}" class="form-control form-control-sm" required>
									<input type="hidden" name="participants_id[]" value="{{ participant.id }}">
								</td>
								<td>
									<button type="button" class="btn btn-secondary delete-participant">
										<i class="bi bi-trash"></i>
									</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				{# Champ caché pour stocker les IDs des participants supprimés #}
				<input type="hidden" name="deleted_participants" id="deleted_participants">

				<!-- Formulaire d'ajout -->
				<div class="row mb-3 d-flex align-items-end">
					<div class="col-md-9">
						<label for="new-participants" class="form-label">
							{{ 'add.participants' | trans }}
						</label>
						<input type="text" id="new-participants" class="form-control">
					</div>
					<div class="col-md-3">
						<button type="button" id="add-participants" class="btn btn-lg btn-primary mt-2">
							<i class="bi bi-person-plus-fill me-2"></i>{{ 'add' | trans }}
						</button>
					</div>
				</div>

				<!-- Bloc d'export -->
				<div class="mt-3">
					<div class="card-header">
						{{ 'participants.list' | trans }}
					</div>
					<div class="card-body p-0">
						<p id="export-text" class="small text-wrap text-break p-1 m-0"
							style="background-color: #E8E8E8;"></p>
					</div>
					<div class="card-footer p-0 text-end">
						<button type="button" class="btn btn-primary btn-sm" id="copy-btn"
							data-copy-text="{{ 'export' | trans }}"
							data-copied-text="{{ 'participants.copied' | trans }}">
							<i class="bi bi-clipboard"></i> <span>{{ 'export' | trans }}</span>
						</button>
					</div>
				</div>

				<!-- Boutons bas du formulaire -->
				<div class="mb-3 row">
					<div>
						<a role="button" class="btn btn-lg btn-secondary btn-gradient m-2"
							href="{{ path('app_poll_show', {url: poll.url}) }}">
							<i class="bi bi-skip-backward me-2"></i>
							{{ 'back' | trans }}
						</a>
						<button type="submit" class="btn btn-lg btn-danger btn-gradient m-2">
							<i class="bi bi-save me-2"></i>
							{{ 'save' | trans }}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
	<script>
		let quitNoSaveMessage = "{{ 'quit.nosave' | trans }}";
	</script>
	<script src="{{ asset('js/participants.js') }}"></script>
{% endblock %}
