{% extends "KyelaBundle::layout.html.twig" %}

{% block robots %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% block body -%}
    <div class="jumbotron">
        <div class="container">
            <h1>{% trans %}main.title{% endtrans %}</h1>
            <p>{% trans %}main.subtitle{% endtrans %}</p>
        </div>
    </div>

    <div class="container">
        <h2>{% trans %}new.poll{% endtrans %}</h2>
        <p>{% trans %}new.poll.tooltip{% endtrans %}</p>
        {{ form(form) }}
        <h2 class="text-center">{% trans %}examples{% endtrans %}</h2>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="thumbnail text-center">
                    <h3>{% trans %}next.concert{% endtrans %}</h3>
                    {% image '@KyelaBundle/Resources/public/images/concert.png' %}
                        <a href="{{ path("poll_show", {'pollUrl': 'concert'}) }}">
                            <img src="{{ asset_url }}" alt="{% trans %}next.concert{% endtrans %}" style="opacity: 0.6" class="img-rounded center-block" />
                        </a>
                    {% endimage %}
                    <div class="caption">
                        <p><a href="{{ path("poll_show", {'pollUrl': 'concert'}) }}" class="btn btn-primary" role="button">{% trans %}access.demo{% endtrans %}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="thumbnail text-center">
                    <h3>{% trans %}next.picnic{% endtrans %}</h3>
                    {% image '@KyelaBundle/Resources/public/images/picnic.png' %}
                        <a href="{{ path("poll_show", {'pollUrl': 'picnic'}) }}">
                            <img src="{{ asset_url }}" alt="{% trans %}next.picnic{% endtrans %}" style="opacity: 0.6" class="img-rounded center-block" />
                        </a>
                    {% endimage %}
                    <div class="caption">
                        <p><a href="{{ path("poll_show", {'pollUrl': 'picnic'}) }}" class="btn btn-primary" role="button">{% trans %}access.demo{% endtrans %}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="thumbnail text-center">
                    <h3>{% trans %}next.holidays{% endtrans %}</h3>
                    {% image '@KyelaBundle/Resources/public/images/holidays.png' %}
                        <a href="{{ path("poll_show", {'pollUrl': 'holidays'}) }}">
                            <img src="{{ asset_url }}" alt="{% trans %}next.picnic{% endtrans %}" style="opacity: 0.6" class="img-rounded center-block" />
                        </a>
                    {% endimage %}
                    <div class="caption">
                        <p><a href="{{ path("poll_show", {'pollUrl': 'holidays'}) }}" class="btn btn-primary" role="button">{% trans %}access.demo{% endtrans %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
