<table class="table table-hover table-bordered table-condensed">
    <thead>
        <tr>
            <th>{% trans %}participant{% endtrans %}</th>
            {% for event in events %}
                <th data-cell-key="{{ event.id }}">
                    {% if event.date or event.time %}
                        {% if event.date %}
                            {{ event.date|localizeddate('medium', 'none', app.request.locale, null, "ccc d/M") }}
                        {% endif %}
                        {% if event.time %}
                            {{ event.time|localizeddate('medium', 'none', app.request.locale, null, "H'h'mm") }}
                        {% endif %}
                    {% else %}
                        {{ event.name }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="sortable" data-sort-url="{{ path('participant_order', {'pollUrl': poll.url}) }}">
        {% for participant in poll.participants %}
        <tr id="participant_{{ participant.id }}">
            <td data-cell-key="{{ participant.id }}">
                <a class="btn btn-sm btn-info participant" role="button" href="{{ path('participant_edit', {'pollUrl': poll.url, 'id': participant.id}) }}">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ participant.name }}
                </a>
            </td>
            {% for event in events %}
                <td>
	                {% set accessKey = event.id ~ '-' ~ participant.id %}
	                {% set participation = attribute(participations, accessKey) is defined ? attribute(participations, accessKey) : null %}
                    {% include("KyelaBundle:Poll:_participation_cell.html.twig") %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>{% trans %}total{% endtrans %}</th>
            {% for event in events %}
                <th>
                    {{ event.participationsscore }}
                </th>
            {% endfor %}
        </tr>
    </tfoot>
</table>
