<table class="table table-hover table-bordered table-condensed">
    <thead>
        <tr>
            <th>{% trans %}participant{% endtrans %}</th>
            {% for event in events %}
                <th data-cell-key="{{ event.id }}">
                    {% if event.date or event.time %}
                        {% if event.date %}
                            {{ event.date|localizeddate('medium', 'none', app.request.locale, null, "ccc d/M") }}
                        {% endif %}
                        {% if event.time %}
                            {{ event.time|localizeddate('medium', 'none', app.request.locale, null, "H'h'mm") }}
                        {% endif %}
                    {% else %}
                        {{ event.name }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for participant in poll.participants %}
        <tr>
            <td data-cell-key="{{ participant.id }}">
                <a class="btn btn-sm btn-info" role="button" href="{{ path('participant_edit', {'pollUrl': poll.url, 'id': participant.id}) }}">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ participant.name }}
                </a>
            </td>
            {% for event in events %}
                {% set accessKey = event.id ~ '-' ~ participant.id %}
                {% set participation = attribute(participations, accessKey) is defined ? attribute(participations, accessKey) : null %}
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm dropdown-toggle choice-{{ participation ? participation.choice.color : "none" }}" data-toggle="dropdown">
                            {% if participation %}
                                <span class="glyphicon glyphicon-{{ participation.choice.icon }}"></span>
                                {{ participation.choice.name }}
                            {% else %}
                                -
                            {% endif %}
                            <span class="caret"></span>
                        </button>
	                    {% image '@KyelaBundle/Resources/public/images/ajax-loader.gif' %}
                            <img src="{{ asset_url }}" alt="Loader" class="ajaxloader" />
	                    {% endimage %}
                        <ul class="dropdown-menu" role="menu">
                            {%  for choice in choices %}
                                <li>
                                    {% set parameters = {'event': event.id, 'participant': participant.id, 'choice': choice.id} %}
                                    {% if participation %}
                                        {% set participationUrl = path('participation_edit', parameters|merge({'id': participation.id})) %}
                                    {% else %}
                                        {% set participationUrl = path('participation_new', parameters) %}
                                    {% endif %}
                                    <button type="button" class="btn btn-sm choice-{{ choice.color }} participation"
                                            data-url="{{ participationUrl }}"
                                            data-oldcolor="{{ participation ? participation.choice.color : "none" }}"
                                            data-newcolor="{{ choice.color }}">
                                        <span class="glyphicon glyphicon-{{ choice.icon }}"></span>
                                        {{ choice.name }}
                                    </button>
                                </li>
                            {% endfor %}
                            {% if participation %}
                            <li>
                                {% set participationUrl = path('participation_delete', {'id': participation.id}) %}
                                <button type="button" class="btn btn-sm participation" data-url="{{ participationUrl }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            {% for event in events %}
                <th>
                    {{ event.participationsscore }}
                </th>
            {% endfor %}
        </tr>
    </tfoot>
</table>
