{#  Copyright 2014 Arnaud Bienvenu

    This file is part of Kyela.

    Kyela is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Kyela is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Kyela.  If not, see <http://www.gnu.org/licenses/>.

#}
{% extends "KyelaBundle::layout.html.twig" %}

{% block robots %}
	<meta name="robots" content="{{ poll.url == 'exemple' ? 'index' : 'noindex' }}, nofollow">
{% endblock %}

{% block body %}

<ul class="list-group">
{% for event in poll.events %}
	<li class="list-group-item">
		<a href="{{ path('event_edit', {'pollUrl': poll.url, 'id': event.id}) }}">
			<span class="glyphicon glyphicon-edit"></span>
		</a>
		<span class="badge">{{ event.participationsscore }}</span>
		{{ event.datetime|localizeddate('medium', 'none', app.request.locale, null, "cccc d MMMM h'h'mm") }}&nbsp;: {{ event.name }}
	</li>
{% endfor %}
</ul>

<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}participant{% endtrans %}</th>
				{% for event in poll.events %}
					<th data-cell-key="{{ event.id }}">
						{{ event.datetime|localizeddate('medium', 'none', app.request.locale, null, "d MMM h'h'mm") }}
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for participant in poll.participants %}
			<tr>
				<td data-cell-key="{{ participant.id }}">
					<a class="btn btn-info" role="button" href="{{ path('participant_edit', {'pollUrl': poll.url, 'id': participant.id}) }}">
						<span class="glyphicon glyphicon-user"></span>
						{{ participant.name }}
					</a>
				</td>
				{% for event in poll.events %}
					{% set accessKey = event.id ~ '-' ~ participant.id %}
					<td>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"{% if attribute(participations, accessKey) is defined %} style="background-color:{{ attribute(participations, accessKey).choice.color }}"{% endif %}>
								{{ attribute(participations, accessKey) is defined ? attribute(participations, accessKey).choice : '-' }}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								{%  for choice in poll.choices %}
									<li style="background-color: {{ choice.color }}">
										{% set parameters = {'pollUrl': poll.url, 'event': event.id, 'participant': participant.id, 'choice': choice.id} %}
										{% if attribute(participations, accessKey) is defined %}
										<a href="{{ path('participation_edit', parameters|merge({'id': attribute(participations, accessKey).id})) }}">
										{% else %}
										<a href="{{ path('participation_new', parameters) }}">
										{% endif %}
											{{ choice.name }}
										</a>
									</li>
								{% endfor %}
								{% if attribute(participations, accessKey) is defined %}
								<li>
									<a href="{{ path('participation_delete', {'pollUrl': poll.url, 'id': attribute(participations, accessKey).id}) }}">
										<span class="glyphicon glyphicon-trash"></span>
									</a>
								</li>
								{% endif %}
							</ul>
						</div>
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>Total</th>
				{% for event in poll.events %}
					<th>
						{{ event.participationsscore }}
					</th>
				{% endfor %}
			</tr>
		</tfoot>
	</table>
</div>

<p>
	<a class="btn btn-primary btn-lg" role="button" href="{{ path('participant_new', {'pollUrl': poll.url}) }}">
		<span class="glyphicon glyphicon-user"></span>
		{% trans %}add.a.participant{% endtrans %}
	</a>
	<a class="btn btn-success btn-lg" role="button" href="{{ path('event_new', {'pollUrl': poll.url}) }}">
		<span class="glyphicon glyphicon-plus"></span>
		{% trans %}add.a.date{% endtrans %}
	</a>
	<a class="btn btn-warning btn-lg" role="button" href="{{ path('choice', {'pollUrl': poll.url}) }}">
		<span class="glyphicon glyphicon-edit"></span>
		{% trans %}edit.options{% endtrans %}
	</a>
</p>

{% endblock %}
