{#  Copyright 2014 Arnaud Bienvenu

    This file is part of Kyela.

    Kyela is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Kyela is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Kyela.  If not, see <http://www.gnu.org/licenses/>.

#}
{% extends "KyelaBundle::layout.html.twig" %}

{% block robots %}
    <meta name="robots" content="{{ poll.url == 'exemple' ? 'index' : 'noindex' }}, nofollow">
{% endblock %}

{% block body %}

{{ render(controller('KyelaBundle:Event:show', {'isFuture': true})) }}

{% if poll.headlines %}
<div class="panel panel-default">
    <div class="panel-body">
        {{ poll.headlines|raw }}
    </div>
</div>
{% endif %}

{{ render(controller('KyelaBundle:Participation:show', {'poll': poll, 'isFuture': true})) }}

{% if poll.bottomlines %}
<div class="panel panel-default">
    <div class="panel-body">
        {{ poll.bottomlines|raw }}
    </div>
</div>
{% endif %}

{{ render(controller('KyelaBundle:Comment:show')) }}

{{ form_start(participant_form) }}
<div class="row">
    <div class="col-sm-9" style="padding-top: 5px;">
        {{ form_errors(participant_form) }}
        {{ form_row(participant_form.name) }}
    </div>
    <div class="col-sm-3">
        <button class="btn btn-info btn-lg" role="button">
            <span class="glyphicon glyphicon-user"></span>
            {% trans %}add.a.participant{% endtrans %}
        </button>
    </div>
</div>
{{ form_end(participant_form) }}

<div class="text-center">
    {% if poll.participants|length > 0 %}
    <a class="btn btn-primary btn-lg" role="button" href="{{ path('comment_new', {'pollUrl': poll.url}) }}">
        <span class="glyphicon glyphicon-comment"></span>
        {% trans %}add.a.comment{% endtrans %}
    </a>
    {% endif %}
    <a class="btn btn-success btn-lg" role="button" href="{{ path('event_new', {'pollUrl': poll.url}) }}">
        <span class="glyphicon glyphicon-plus"></span>
        {% trans %}add.a.date{% endtrans %}
    </a>
    <a class="btn btn-warning btn-lg" role="button" href="{{ path('choice', {'pollUrl': poll.url}) }}">
        <span class="glyphicon glyphicon-edit"></span>
        {% trans %}edit.options{% endtrans %}
    </a>
    <a class="btn btn-danger btn-lg" role="button" href="{{ path('poll_edit', {'pollUrl': poll.url}) }}">
        <span class="glyphicon glyphicon-edit"></span>
        {% trans %}edit.poll{% endtrans %}
    </a>
    {% if hasPastEvents %}
    <a class="btn btn-default btn-lg" role="button" href="{{ path('poll_archive', {'pollUrl': poll.url}) }}">
        <span class="glyphicon glyphicon-hdd"></span>
        {% trans %}archive.access{% endtrans %}
    </a>
    {% endif %}
</div>

{% endblock %}
