{% extends 'layout.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<div class="card shadow-lg p-4 position-relative mb-4 text-center">
			<h1>{{ 'poll' | trans }} - {{ poll.title }}</h1>
		</div>

		<div class="card shadow-lg p-4 position-relative">
			{{ form_start(form) }}
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.url) }}
					<span class="text-danger">*</span>
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.url) }}
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.title) }}
					<span class="text-danger">*</span>
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.title) }}
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.headLines) }}
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.headLines, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.headLines) }}
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.bottomLines) }}
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.bottomLines, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.bottomLines) }}
				</div>
			</div>

			<div class="mb-3 row">
				<div class="offset-sm-2 col-sm-10">
					<div class="row">
						<div class="col-md-8">
							<a role="button" class="btn btn-lg btn-secondary btn-gradient me-2"
								href="{{ path('app_poll_show', {url: poll.url}) }}">
								<i class="bi bi-skip-backward me-2"></i>
								{{ 'back' | trans }}
							</a>
							<button type="submit" class="btn btn-lg btn-danger btn-gradient ms-2">
								<i class="bi bi-save me-2"></i>
								{{ 'save' | trans }}
							</button>
						</div>
						<div class="col-md-4 text-end mt-2 mt-md-0">
							<a href="#" class="btn btn-lg btn-dark btn-gradient ms-auto"
								data-delete-url="{{ path('app_poll_delete', {'url': poll.url}) }}">
								<i class="bi bi-trash me-2"></i>{{ 'delete' | trans }}
							</a>
						</div>
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>

	<!-- Modal de confirmation de suppression -->
	<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteConfirmationModalLabel">{{ 'delete.confirmation' | trans }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ 'delete.poll.confirmation' | trans }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">{{ 'cancel'|trans }}</button>
					<form id="deleteForm" method="post" action="" style="display: inline;">
						<button type="submit" class="btn btn-danger">{{ 'delete'|trans }}</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const deleteButtons = document.querySelectorAll('[data-delete-url]');
			deleteButtons.forEach(button => {
				button.addEventListener('click', function (e) {
					e.preventDefault();
					const deleteUrl = this.getAttribute('data-delete-url');
					document.getElementById('deleteForm').action = deleteUrl;
					const modal = new bootstrap.Modal(document.getElementById('deleteConfirmationModal'));
					modal.show();
				});
			});
		});
	</script>
{% endblock %}
