{% extends 'layout.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<div class="card shadow-lg bg-light p-4 position-relative mb-4 text-center">
			<h1>{{ 'poll' | trans }} - {{ poll.title }}</h1>
		</div>

		<div class="card shadow-lg p-4 position-relative">
			{{ form_start(form) }}
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.url) }}
					<span class="text-danger">*</span>
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.url) }}
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.title) }}
					<span class="text-danger">*</span>
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.title) }}
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.headLines) }}
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.headLines, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.headLines) }}
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.bottomLines) }}
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.bottomLines, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.bottomLines) }}
				</div>
			</div>

			<div class="mb-3 row">
				<div class="offset-sm-2 col-sm-10">
					<button type="submit" class="btn btn-lg btn-danger btn-gradient m-2">
						<i class="bi bi-save me-2"></i>
						{{ 'save' | trans }}
					</button>
					<a role="button" class="btn btn-lg btn-secondary btn-gradient m-2"
						href="{{ path('app_poll_show', {url: poll.url}) }}">
						<i class="bi bi-skip-backward me-2"></i>
						{{ 'back' | trans }}
					</a>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
