{% extends 'layout.html.twig' %}

{% block robots %}
	<meta name="robots" content="index, follow">
{% endblock %}

{% block body %}
	<style>
		.card-link {
			text-decoration: none; /* Supprime le soulignement */
			color: inherit; /* Garde la couleur du texte par défaut */
			display: block; /* Permet d'occuper toute la largeur */
		}
	</style>
	<main class="container my-4">
		<div class="p-5 mb-4 rounded-3 text-center">
			<img src="{{ asset('img/kyela_full.png') }}" alt="{{ 'main.title' | trans }}" class="img-fluid mb-3"
				style="max-height: 200px;">
		</div>

		<div class="mb-5">
			<h2>{{ 'new.version' | trans }}</h2>
			<p>{{ 'new.version.explain' | trans }} :
				<a href="https://github.com/abienvenu/Kyela/issues" target="_blank">
					https://github.com/abienvenu/Kyela/issues
				</a>
			</p>
		</div>

		<!-- Bouton "Créer un nouveau sondage" -->
		<div class="mb-5">
			<h2>{{ 'new.poll' | trans }}</h2>
			<p>{{ 'new.poll.tooltip' | trans }}</p>
			<div class="text-center">
				<a role="button" href="{{ path("app_poll_new") }}"
					class="btn btn-success btn-kyela btn-lg btn-gradient rounded-pill">
					<i class="bi bi-calendar-plus-fill me-2"></i>
					{{ 'add.a.poll' | trans }}
				</a>
			</div>
		</div>

		<!-- Section des screenshots -->
		<h2 class="text-center">{{ 'examples' | trans }}</h2>
		<div class="row text-center">
			<div class="col-md-4 mb-4">
				<a href="{{ path("app_poll_show", {'url': 'concert'}) }}" class="card card-link shadow-lg rounded p-2">
					<h3>{{ 'next.concert' | trans }}</h3>
					<img src="{{ asset('img/concert.png') }}" alt="{{ 'next.concert' | trans }}"
						class="img-fluid rounded" />
					<div class="caption m-2">
						<p class="btn btn-primary" role="button">
							<i class="bi bi-eye me-2"></i>
							{{ 'access.demo' | trans }}
						</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 mb-4">
				<a href="{{ path("app_poll_show", {'url': 'picnic'}) }}" class="card card-link shadow-lg rounded p-2">
					<h3>{{ 'next.picnic' | trans }}</h3>
					<img src="{{ asset('img/picnic.png') }}" alt="{{ 'next.picnic' | trans }}"
						class="img-fluid rounded" />
					<div class="caption m-2">
						<p class="btn btn-primary" role="button">
							<i class="bi bi-eye me-2"></i>
							{{ 'access.demo' | trans }}
						</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 mb-4">
				<a href="{{ path("app_poll_show", {'url': 'holidays'}) }}" class="card card-link shadow-lg rounded p-2">
					<h3>{{ 'next.holidays' | trans }}</h3>
					<img src="{{ asset('img/holidays.png') }}" alt="{{ 'next.picnic' | trans }}"
						class="img-fluid rounded" />
					<div class="caption m-2">
						<p class="btn btn-primary" role="button">
							<i class="bi bi-eye me-2"></i>
							{{ 'access.demo' | trans }}
						</p>
					</div>
				</a>
			</div>
		</div>
	</main>
{% endblock %}
