{% extends 'layout.html.twig' %}

{% block body %}
	{{ render(controller('App\\Controller\\EventController::show', {'poll': poll})) }}

	{% if poll.headlines %}
		<div class="container-fluid mt-4">
			<div class="card shadow-lg p-4 position-relative">
				<button class="btn btn-light position-absolute top-0 end-0 mt-2 me-2 toggle-button"
					data-bs-toggle="collapse" data-bs-target="#headLines" aria-expanded="true">
					<i class="bi bi-info-square"></i>
				</button>

				<div class="collapse show" id="headLines">
					{{ poll.headlines|raw }}
				</div>
			</div>
		</div>
	{% endif %}

	<div class="container-fluid mt-4">
		{{ render(controller('App\\Controller\\ParticipationController::show', {'poll': poll})) }}
	</div>

	{% if poll.bottomlines %}
		<div class="container-fluid mt-4">
			<div class="card shadow-lg p-4 position-relative">
				<button class="btn btn-light position-absolute top-0 end-0 mt-2 me-2 toggle-button"
					data-bs-toggle="collapse" data-bs-target="#bottomLines" aria-expanded="true">
					<i class="bi bi-layout-text-sidebar-reverse"></i>
				</button>

				<div class="collapse show" id="bottomLines">
					{{ poll.bottomlines|raw }}
				</div>
			</div>
		</div>
	{% endif %}

	<div class="container-fluid mt-4 mb-4">
		<div class="shadow-lg p-4 position-relative">
			{% if poll.participants|length > 0 %}
				<button type="button" class="btn btn-primary">{{ 'add.a.comment' | trans }}</button>
			{% endif %}
			<button type="button" class="btn btn-success">{{ 'add.a.date' | trans }}</button>
			<button type="button" class="btn btn-warning">{{ 'edit.options' | trans }}</button>
			<button type="button" class="btn btn-danger">{{ 'edit.poll' | trans }}</button>
			<button type="button" class="btn btn-secondary">{{ 'archive.access' | trans }}</button>
			<br />
			<button type="button" class="btn btn-info">Info</button>
			<button type="button" class="btn btn-light">Light</button>
			<button type="button" class="btn btn-dark">Dark</button>
		</div>
	</div>

	<script src="{{ asset('js/poll.js') }}"></script>
	<script>
		const pollUrl = '{{ poll.url }}';
		const pollTitle = '{{ poll.title }}';
		addFastLink(pollUrl, pollTitle);
	</script>
{% endblock %}
