{% extends 'layout.html.twig' %}

{% block body %}
	<div class="container-fluid mt-2 text-center">
		<a role="button" class="btn btn-primary btn-gradient"
			href="{{ path('app_participant_edit', {url: poll.url}) }}">
			<i class="bi bi-person-fill me-2"></i>
			{{ 'participants' | trans }}
		</a>
		<button type="button" class="btn btn-success btn-gradient">
			<i class="bi bi-calendar-check me-2"></i>
			{{ 'dates' | trans }}
		</button>
		<a role="button" class="btn btn-warning btn-gradient" href="{{ path('app_choice_index', {url: poll.url}) }}">
			<i class="bi bi-sliders me-2"></i>
			{{ 'options' | trans }}
		</a>
		<a role="button" class="btn btn-danger btn-gradient" href="{{ path('app_poll_edit', {url: poll.url}) }}">
			<i class="bi bi-pencil-square me-2"></i>
			{{ 'poll' | trans }}
		</a>
		{% if poll.participants|length > 0 %}
			<button type="button" class="btn btn-info btn-gradient">
				<i class="bi bi-chat-left-text me-2"></i>
				{{ 'comments' | trans }}
			</button>
		{% endif %}
		<button type="button" class="btn btn-secondary btn-gradient">
			<i class="bi bi-archive me-2"></i>
			{{ 'archives' | trans }}
		</button>
	</div>

	<div class="container-fluid mt-4">
		<div class="card shadow-lg p-4 position-relative">
			{{ render(controller('App\\Controller\\EventController::show', {'poll': poll})) }}
		</div>
	</div>

	{% if poll.headlines %}
		<div class="container-fluid mt-4">
			<div class="card shadow-lg p-4 position-relative">
				<button class="btn btn-light position-absolute top-0 end-0 mt-2 me-2 toggle-button"
					data-bs-toggle="collapse" data-bs-target="#headLines" aria-expanded="true">
					<i class="bi bi-info-square"></i>
				</button>

				<div class="collapse show" id="headLines">
					{{ poll.headlines|raw }}
				</div>
			</div>
		</div>
	{% endif %}

	<div class="container-fluid mt-4">
		<div class="card shadow-lg p-4 position-relative">
			{{ render(controller('App\\Controller\\ParticipationController::show', {'poll': poll})) }}
		</div>
	</div>

	{% if poll.bottomlines %}
		<div class="container-fluid mt-4">
			<div class="card shadow-lg p-4 position-relative">
				<button class="btn btn-light position-absolute top-0 end-0 mt-2 me-2 toggle-button"
					data-bs-toggle="collapse" data-bs-target="#bottomLines" aria-expanded="true">
					<i class="bi bi-layout-text-sidebar-reverse"></i>
				</button>

				<div class="collapse show" id="bottomLines">
					{{ poll.bottomlines|raw }}
				</div>
			</div>
		</div>
	{% endif %}

	<script src="{{ asset('js/poll.js') }}"></script>
	<script>
		const pollUrl = '{{ poll.url }}';
		const pollTitle = '{{ poll.title }}';
		addFastLink(pollUrl, pollTitle);
	</script>
{% endblock %}
