{% extends 'layout.html.twig' %}

{% block body %}

	<div class="container-fluid mt-4">
		<div class="card shadow-lg p-2 position-relative">
			<div class="text-center">
				<h1>{{ poll.title }}</h1>
			</div>
			{{ render(controller('App\\Controller\\EventController::show', {'poll': poll})) }}
		</div>
	</div>

	{% if poll.headlines %}
		<div class="container-fluid mt-4">
			<div class="card shadow-lg p-4 position-relative">
				<button class="btn btn-light position-absolute top-0 end-0 mt-2 me-2 z-3 toggle-button"
					data-bs-toggle="collapse" data-bs-target="#headLines" aria-expanded="true">
					<i class="bi bi-info-square"></i>
				</button>

				<div class="collapse show" id="headLines">
					{{ poll.headlines|raw }}
				</div>
			</div>
		</div>
	{% endif %}

	<div class="container-fluid mt-4">
		<div class="card shadow-lg position-relative">
			{% if poll.participants | length %}
				{{ render(controller('App\\Controller\\ParticipationController::show', {'poll': poll})) }}
			{% else %}
				<div class="text-center p-4">
					{{ 'no.participant' | trans }}
					<a role="button" class="btn btn-primary btn-gradient ms-2"
						href="{{ path('app_participant_edit', {url: poll.url}) }}">
						<i class="bi bi-person-plus-fill me-2"></i>
						{{ 'add' | trans }}
					</a>
				</div>
			{% endif %}
		</div>
	</div>

	{% if poll.bottomlines %}
		<div class="container-fluid mt-4">
			<div class="card shadow-lg p-4 position-relative">
				<button class="btn btn-light position-absolute top-0 end-0 mt-2 me-2 z-3 toggle-button"
					data-bs-toggle="collapse" data-bs-target="#bottomLines" aria-expanded="true">
					<i class="bi bi-layout-text-sidebar-reverse"></i>
				</button>

				<div class="collapse show" id="bottomLines">
					{{ poll.bottomlines|raw }}
				</div>
			</div>
		</div>
	{% endif %}

	{% if poll.comments | length %}
		<div class="container-fluid mt-4">
			<div class="card shadow-lg p-4 position-relative">
				{{ render(controller('App\\Controller\\CommentController::show', {'poll': poll})) }}
			</div>
		</div>
	{% endif %}

	<script src="{{ asset('js/poll.js') }}"></script>
	<script src="{{ asset('js/participations.js') }}"></script>
	<script>
		const pollUrl = '{{ poll.url }}';
		const pollTitle = '{{ poll.title }}';
		addFastLink(pollUrl, pollTitle);
	</script>
{% endblock %}
