{% extends 'layout.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<div class="p-4 position-relative mb-4 text-center">
			<h1>
				{% if comment.author %}
					{{ 'Comment' | trans }}
				{% else %}
					{{ 'new.comment' | trans }}
				{% endif %}
			</h1>
		</div>

		<div class="card shadow-lg p-4 position-relative">
			{{ form_start(form) }}
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.author) }}
					<span class="text-danger">*</span>
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.author) }}
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.content) }}
					<span class="text-danger">*</span>
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.content) }}
				</div>
			</div>

			<div class="mb-3 row">
				<div class="offset-sm-2 col-sm-10">
					<div class="row">
						<div class="col-md-8">
							<a role="button" class="btn btn-lg btn-secondary btn-gradient me-2"
								href="{{ path('app_comment_list', {url: comment.poll.url}) }}">
								<i class="bi bi-skip-backward me-2"></i>
								{{ 'back' | trans }}
							</a>
							<button type="submit" class="btn btn-lg btn-danger btn-gradient ms-2">
								<i class="bi bi-save me-2"></i>
								{{ 'save' | trans }}
							</button>
						</div>
						{% if comment.id %}
							<div class="col-md-4 text-end mt-2 mt-md-0">
								<a role="button" class="btn btn-lg btn-dark ms-auto"
									href="{{ path('app_comment_delete', {url: comment.poll.url, id: comment.id}) }}">
									<i class="bi bi-trash me-2"></i>
									{{ 'delete' | trans }}
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
