{% extends 'layout.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<div class="card shadow-lg p-4 position-relative mb-4 text-center">
			<h1>{{ 'comments' | trans }} - {{ poll.title }}</h1>
		</div>
		<div class="card shadow-lg p-4 position-relative">
			<div class="table-container">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th scope="col" class="table-secondary">{{ 'Author' | trans }}</th>
							<th scope="col" class="table-secondary">{{ 'Content' | trans }}</th>
							<th scope="col" class="table-secondary d-none d-lg-table-cell">{{ 'Date' | trans }}</th>
							<th scope="col" class="table-secondary"></th>
						</tr>
					</thead>
					<tbody id="choices-list">
						{% for comment in poll.comments %}
							<tr data-id="{{ comment.id }}">
								<td class="text-start">{{ comment.author }}</td>
								<td class="text-start">
									{{ comment.content }}
								</td>
								<td class="d-none d-lg-table-cell">{{ comment.datetime | format_datetime(
										locale: app.request.locale,
										timezone='Europe/Paris',
										pattern: "cccc d MMMM YYYY HH:mm") }}
								</td>
								<td>
									<div class="btn-group" role="group">
										<a class="btn btn-warning btn-gradient" role="button"
											href="{{ path('app_comment_edit', {url: poll.url, id: comment.id}) }}">
											<i class="bi bi-pencil-square"></i>
											<span class="d-none d-md-inline ms-1">{{ 'edit' | trans }}</span>
										</a>
										<a class="btn btn-dark btn-gradient" role="button"
											href="{{ path('app_comment_delete', {url: poll.url, id: comment.id}) }}">
											<i class="bi bi-trash"></i>
											<span class="d-none d-md-inline ms-1">{{ 'delete' | trans }}</span>
										</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="mt-2 row">
				<div class="col-sm-10">
					<a role="button" class="btn btn-lg btn-secondary btn-gradient m-2"
						href="{{ path('app_poll_show', {url: poll.url}) }}">
						<i class="bi bi-skip-backward me-2"></i>
						{{ 'back' | trans }}
					</a>
					<a role="button" class="btn btn-lg btn-success btn-gradient m-2"
						href="{{ path('app_comment_new', {url: poll.url}) }}">
						<i class="bi bi-plus-lg me-2"></i>{{ 'add' | trans }}
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
