{% extends "KyelaBundle::layout.html.twig" %}

{% block body -%}
	<div class="jumbotron">
		<div class="container">
			<h1>{% trans %}choice.list{% endtrans %}</h1>
		</div>
	</div>

<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>{% trans %}name{% endtrans %}</th>
                <th>{% trans %}value{% endtrans %}</th>
                <th>{% trans %}color{% endtrans %}</th>
                <th>{% trans %}action{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for choice in poll.choices %}
            <tr>
                <td>{{ choice.name }}</td>
                <td>{{ choice.value }}</td>
                <td>
                	<button type="button" class="btn choice-{{ choice.color }}">{{ choice.color|trans }}</button>
                <td>
                	<a class="btn btn-warning" role="button" href="{{ path('choice_edit', { 'pollUrl': poll.url, 'id': choice.id }) }}">
                		<span class="glyphicon glyphicon-edit"></span>
                		{% trans %}edit{% endtrans %}
                	</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<p>
	<a class="btn btn-primary btn-lg" role="button" href="{{ path('choice_new', {'pollUrl': poll.url}) }}">{% trans %}add.an.option{% endtrans %}</a>
	<a class="btn btn-default btn-lg" role="button" href="{{ path('poll_show', {'pollUrl': poll.url}) }}">{% trans %}back{% endtrans %}</a>
</p>

{% endblock %}
