{% extends "KyelaBundle::layout.html.twig" %}

{% block body -%}
    <h1>Choice list</h1>

<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.value }}</td>
                <td>{{ entity.color }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('choice_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<p>
	<a class="btn btn-primary btn-lg" role="button" href="{{ path('choice_new') }}">{% trans %}add.an.option{% endtrans %}</a>
	<a class="btn btn-default btn-lg" role="button" href="{{ path('index') }}">{% trans %}back{% endtrans %}</a>
</p>

{% endblock %}
