{% set participation = participationsArray[event.id][participant.id] ?? null %}
<div>
	<button class="btn border dropdown-toggle choice-{{ participation ? participation.choice.color : "none" }} shadow"
		type="button"
		data-bs-toggle="dropdown" aria-expanded="false">
		{% if participation %}
			<i class="bi bi-{{ participation.choice.icon }} me-2"></i>
			{{ participation.choice.name }}
		{% else %}
			-
		{% endif %}
	</button>
	<ul class="dropdown-menu overflow-auto" style="max-height: 400px;">
		{% for choice in poll.choices %}
			<li>
				{% set participationUrl = path(
					'app_participation_update',
					{'event': event.id, 'participant': participant.id, 'choice': choice.id}
				) %}
				<span class="dropdown-item" data-url="{{ participationUrl }}">
					<button type="button" class="btn choice-{{ choice.color }}">
						<i class="bi bi-{{ choice.icon }} me-2"></i>
						{{ choice.name }}
					</button>
				</span>
			</li>
		{% endfor %}
		<li {% if not participation %} class="d-none"{% endif %}>
			{% set participationDeleteUrl = path(
				'app_participation_delete',
				{'event': event.id, 'participant': participant.id}
			) %}
			<span class="dropdown-item" data-url="{{ participationDeleteUrl }}">
				<button type="button" class="btn">
					<i class="bi bi-trash me-2"></i>
				</button>
			</span>
		</li>
	</ul>
</div>
