<html lang="fr">
	<head>
		<title>Coucou</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"></script>
		{% block javascripts %}
			{% block importmap %}{{ importmap('app') }}{% endblock %}
		{% endblock %}
	</head>
	<body>
		<ul class="list-group" data-bs-toggle="collapse" data-bs-target="#dateList" aria-expanded="true" aria-controls="dateList">
			<li class="list-group-item text-center">
				<button type="button" class="btn btn-primary">
					<twig:ux:icon name="bi:caret-down" width="20" />
					{{ 'choice' | trans }}
					<twig:ux:icon name="bi:caret-down" width="20" />
				</button>
			</li>
		</ul>
		<ul class="list-group collapse hide" id="dateList">
			{% for event in events %}
				<li>
					{% if event.date %}
						{{ event.date|format_datetime('medium', 'none', locale: app.request.locale, pattern: "cccc d MMMM") }}
					{% endif %}
					{% if event.date and event.time %}
						-
					{% endif %}
					{% if event.time %}
						{{ event.time|format_datetime('medium', 'none', locale: app.request.locale, pattern: "H'h'mm") }}
					{% endif %}
					{% if (event.date or event.time) and event.place %}
						-
					{% endif %}
					{{ event.place }}
					{% if event.subtitle %}
						<small class="subtitle">({{ event.subtitle }})</small>
					{% endif %}
					{% if (event.date or event.time or event.place) and event.name %}
						&nbsp;:
					{% endif %}
					<strong>{{ event.name }}</strong>
				</li>
			{% endfor %}
		</ul>

		<div class="table-container">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" class="table-secondary">Participant</th>
						{% for i in 1..12 %}
							<th scope="col" class="table-info">Col {{ i }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for i in 1..80 %}
						<tr>
							<th scope="row" class="bg-light">
								<a class="btn btn-light border shadow">
									<twig:ux:icon name="bi:person-fill" width="20" />
									User {{ i }}
								</a>
							</th>
							{% for j in 1..12 %}
								<td>
									<div>
										<button class="btn border dropdown-toggle choice-blue shadow" type="button"
											id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
											Cell content {{ i }},{{ j }}
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
											<li>
												<span class="dropdown-item">
													<button type="button" class="btn choice-red">
														<twig:ux:icon name="bi:x" width="25" />Coucou
													</button>
												</span>
											</li>
											<li>
												<span class="dropdown-item">
													<button type="button" class="btn choice-green">
														<twig:ux:icon name="bi:check" width="25" />Another action
													</button>
												</span>
											</li>
											<li>
												<span class="dropdown-item">
													<button type="button" class="btn choice-gray">
														<twig:ux:icon name="bi:question" width="25" />Something else here
													</button>
												</span>
											</li>
										</ul>
									</div>
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<button type="button" class="btn btn-primary">Primary</button>
		<button type="button" class="btn btn-secondary">Secondary</button>
		<br />
		<br />
		<button type="button" class="btn btn-success">Success</button>
		<button type="button" class="btn btn-danger">Danger</button>
		<button type="button" class="btn btn-warning">Warning</button>
		<button type="button" class="btn btn-info">Info</button>
		<br />
		<br />
		<button type="button" class="btn btn-light">Light</button>
		<button type="button" class="btn btn-dark">Dark</button>
		<p>
			The “trick” at play here is partially the position: sticky; usage, but moreso to me, how you have to handle
			overlapping elements. A table cell that is sticky needs to have a background, because otherwise we’ll see
			overlapping content. It also needs proper z-index handling so that when it sticks in place, it’ll be on top
			of what it is supposed to be on top of. This feels like the trickiest part:
		</p>

	</body>
</html>
