<div class="table-container participation-container">
	<table class="table table-hover participation sticky">
		<thead>
			<tr>
				<th scope="col" class="table-secondary p-1">
					<!-- Petit bouton de raccourci pour éditer les participants un évènement -->
					<a role="button" class="btn btn-sm me-1"
						href="{{ path('app_participant_edit', {url: poll.url}) }}">
						<i class="bi bi-pencil"></i>
					</a>
					{{ 'participant' | trans }}
				</th>
				{% for event in events %}
					<th scope="col" class="table-info">
						{% if event.date or event.time %}
							{% if event.date %}
								{{ event.date|format_datetime(locale: app.request.locale, pattern: "ccc d/M") }}
							{% endif %}
							{% if event.time %}
								{{ event.time|format_datetime(locale: app.request.locale, pattern: "H'h'mm") }}
							{% endif %}
						{% else %}
							{{ event.name }}
						{% endif %}
						{% if event.subtitle %}
							<br /><small class="subtitle">{{ event.subtitle }}</small>
						{% endif %}
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% set groupName = "-" %}
			{% for participant in poll.participants %}
				<tr data-name="{{ participant.name }}"
					{% if participant.isSeparator %}class="bg-dark participant-separator" style="--bs-table-bg: none;"
					{% else %}data-group="{{ groupName }}"{% endif %}>
					{% if participant.isSeparator %}
						{% set groupName = participant.separatorName %}
						<th scope="row" data-group-toggle="{{ groupName }}" class="text-start text-white ps-3 fs-6">
							{{ groupName }}
							<i class="bi bi-caret-down-fill toggle-icon mt-0"></i>
						</th>
						{% for event in events %}
							<td>
								<span class="badge mt-2 fw-normal">
									({{ event.participationsSubScore(participant.separatorName) }})
								</span>
							</td>
						{% endfor %}
					{% else %}
						<th scope="row" class="text-start p-1">
							<a class="btn btn-light border participant ms-4 p-1">
								<i class="bi bi-person-fill"></i>
								{{ participant.name }}
							</a>
						</th>
						{% for event in events %}
							<td class="p-1">
								{{ include("participation/_cell.html.twig") }}
							</td>
						{% endfor %}
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr class="participation-total">
				<th scope="row" class="text-start fs-6">
					<i class="bi bi-calculator"></i>
					{{ 'total' | trans }}
				</th>
				{% for event in events %}
					<th class="fs-5">
						{{ event.participationsscore }}
					</th>
				{% endfor %}
			</tr>
		</tfoot>
	</table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="participation_confirmation">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-center">
					{{ 'participation.confirmation' | trans }}<br />
					<strong id="participation_confirmation_name"></strong> ?
				</h5>
			</div>
			<div class="modal-body text-center">
				<button class="btn btn-success btn-gradient m-2" data-answer="always">
					<i class="bi bi-check-all"></i>
					{% trans %}button.yesalways{% endtrans %}
				</button>
				<br />
				<button class="btn btn-warning btn-gradient m-2" data-answer="once">
					<i class="bi bi-check"></i>
					{% trans %}button.yesonce{% endtrans %}
				</button>
				<br />
				<button class="btn btn-danger btn-gradient m-2" data-answer="no">
					<i class="bi bi-x"></i>
					{% trans %}button.no{% endtrans %}
				</button>
			</div>
		</div>
	</div>
</div>
