{% extends 'layout.html.twig' %}

{% block body %}
	<style>
		/* Rendre le label cliquable et afficher un curseur pointer */
		.form-check-label {
			cursor: pointer;
			display: block;
			padding: 8px;
		}

		/* Style pour l'icône sélectionnée */
		.form-check-input:checked + .form-check-label {
			background-color: #5cb85c;
		}
	</style>


	<div class="container mt-4">
		<div class="card shadow-lg p-4 position-relative mb-4 text-center">
			<h1>
				{% if choice.name %}
					{{ 'choice' | trans }} - {{ choice.name }}
				{% else %}
					{{ 'new.choice' | trans }}
				{% endif %}
			</h1>
		</div>

		<div class="card shadow-lg p-4 position-relative">
			{{ form_start(form) }}
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.name) }}
					<span class="text-danger">*</span>
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.name) }}
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.value) }}
					<span class="text-danger">*</span>
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.value, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.value) }}
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.color) }}
					<span class="text-danger">*</span>
				</label>
				<div class="col-sm-10">
					{{ form_widget(form.color, {'attr': {'class': 'form-select'}}) }}
					{{ form_errors(form.color) }}
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label fw-bold text-end">
					{{ form_label(form.icon) }}
					{{ form_errors(form.icon) }}
					<span class="text-danger">*</span>
				</label>
				<div class="col-sm-10">
					<div class="d-flex flex-wrap gap-2">
						{% for child in form.icon %}
							<div class="form-check d-flex align-items-center bg-light p-2 rounded">
								{# On masque le radio mais il reste fonctionnel #}
								{{ form_widget(child, { 'attr': {'class': 'form-check-input d-none'} }) }}
								{# Le label, cliquable, affiche l'icône en grand format #}
								<label class="form-check-label mb-0" for="{{ child.vars.id }}">
									<i class="bi bi-{{ child.vars.value }} fs-3"></i>
								</label>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="mb-3 row">
				<div class="offset-sm-2 col-sm-10">
					<div class="row">
						<div class="col-md-8">
							<a role="button" class="btn btn-lg btn-secondary btn-gradient me-2"
								href="{{ path('app_choice_list', {url: choice.poll.url}) }}">
								<i class="bi bi-skip-backward me-2"></i>
								{{ 'back' | trans }}
							</a>
							<button type="submit" class="btn btn-lg btn-danger btn-gradient ms-2">
								<i class="bi bi-save me-2"></i>
								{{ 'save' | trans }}
							</button>
						</div>
						{% if choice.id %}
							<div class="col-md-4 text-end mt-2 mt-md-0">
								<a role="button" class="btn btn-lg btn-dark ms-auto"
									href="{{ path('app_choice_delete', {url: choice.poll.url, id: choice.id}) }}">
									<i class="bi bi-trash me-2"></i>
									{{ 'delete' | trans }}
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
