{% extends 'layout.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<div class="card shadow-lg bg-light p-4 position-relative mb-4 text-center">
			<h1>{{ 'options' | trans }} - {{ poll.title }}</h1>
		</div>
		<div class="card shadow-lg p-4 position-relative">
			<div class="table-container">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th scope="col" class="table-secondary"></th>
							<th scope="col" class="table-secondary">{{ 'name' | trans }}</th>
							<th scope="col" class="table-secondary">{{ 'value' | trans }}</th>
							<th scope="col" class="table-secondary">{{ 'color' | trans }}</th>
							<th scope="col" class="table-secondary">{{ 'Icon' | trans }}</th>
							<th scope="col" class="table-secondary">{{ 'action' | trans }}</th>
						</tr>
					</thead>
					<tbody id="choices-list">
						{% for choice in poll.choices %}
							<tr data-id="{{ choice.id }}">
								<td class="handle text-center">
									<i class="bi bi-list" style="cursor: grab;"></i>
								</td>
								<td>{{ choice.name }}</td>
								<td>{{ choice.value }}</td>
								<td>
									<button type="button"
										class="btn choice-{{ choice.color }}">{{ choice.color | trans }}</button>
								</td>
								<td><i class="bi bi-{{ choice.icon }} fs-2"></i></td>
								<td>
									<a class="btn btn-warning btn-gradient" role="button"
										href="{{ path('app_choice_edit', {url: poll.url, id: choice.id}) }}">
										{{ 'edit' | trans }}
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="mb-3 row">
				<div class="col-sm-10">
					<a role="button" class="btn btn-lg btn-secondary btn-gradient m-2"
						href="{{ path('app_poll_show', {url: poll.url}) }}">
						<i class="bi bi-skip-backward me-2"></i>
						{{ 'back' | trans }}
					</a>
					<a role="button" class="btn btn-lg btn-success btn-gradient m-2"
						href="{{ path('app_choice_new', {url: poll.url}) }}">
						<i class="bi bi-plus-lg me-2"></i>{{ 'add' | trans }}
					</a>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
	<script src="{{ asset('js/choices.js') }}"></script>
	<script>
		const pollUrl = '{{ poll.url }}';
	</script>
{% endblock %}
