{% extends "KyelaBundle:Participate:layout.html.twig" %}

{% form_theme form _self %}
{% block button_widget -%}
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    {% if validation_groups is defined %}
    	Glop
    {% endif %}
    {% if validation_groups is defined and validation_groups == false %}
    	{% set attr = attr|merge({'formnovalidate': 'formnovalidate'}) %}
    {% endif %}
    <button type="{{ type|default('button') }}" class="btn btn-{{ attr.style|default('default') }} btn-{{ attr.size|default('lg') }}" {{ block('button_attributes') }} >{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget %}

{% block button_row -%}
    <div style="display: inline-block; padding: 4px;">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row %}


{% block body -%}
	<div class="jumbotron">
		<div class="container">
			<h1>{% trans %}new.participant{% endtrans %}</h1>
		</div>
	</div>

	<div class="container">
		{{ form(form) }}
		<a class="btn btn-default btn-lg" role="button" href="{{ path('index') }}">{% trans %}cancel{% endtrans %}</a>
	</div>
{% endblock %}
