{% extends 'base.html.twig' %}
{% block rawbody %}
	<body class="d-flex flex-column min-vh-100">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4 py-lg-1">
			<div class="container-fluid">
				<!-- Marque ou logo -->
				<a class="navbar-brand mx-4" href="/">
					<img src="{{ asset('img/kyela_small.png') }}" alt="Kyélà">
				</a>
				<!-- Bouton pour le menu collapsible sur mobile -->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Basculer la navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Liens de navigation -->
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<!-- Menu déroulant Liens rapides -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="liensRapidesDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								{{ 'polls' | trans }}
							</a>
							<ul class="dropdown-menu bg-dark text-white" aria-labelledby="liensRapidesDropdown"
								id="menuFastLinks">
							</ul>
						</li>

						<!-- Menu déroulant Modifier -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="modifierDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Modifier
							</a>
							<ul class="dropdown-menu" aria-labelledby="modifierDropdown">
								<li><a class="dropdown-item" href="#">Participants</a></li>
								<li><a class="dropdown-item" href="#">Évènements</a></li>
								<li><a class="dropdown-item" href="#">Options</a></li>
								<li><a class="dropdown-item" href="#">Sondage</a></li>
								<li><a class="dropdown-item" href="#">Commentaires</a></li>
							</ul>
						</li>
					</ul>
					<!-- Menu aligné à droite, collapsé sur mobile -->
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_static_faq') }}">{{ 'faq' | trans }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_static_tips') }}">{{ 'tips' | trans }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_static_about') }}">{{ 'about' | trans }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_static_thanks') }}">{{ 'thanks' | trans }}</a>
						</li>
						<li class="nav-item">
							<a target="_blank" href="https://symfony.com/blog/symfony-stands-with-ukraine"
								style="padding: 6px;">
								<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 613.34796 560.96094" style="height: 32px;">
									<defs>
										<style>.cls-1 {
												fill: #FFD500;
											}

											.cls-2 {
												fill: #005BBB;
											}</style>
									</defs>
									<path class="cls-1"
										d="M779.84082,504a181.88382,181.88382,0,0,1-21.78906,26.28906L504.001,784.48047,249.9502,530.28906A181.659,181.659,0,0,1,228.15723,504Z"
										transform="translate(-197.32602 -223.51953)" />
									<path class="cls-2"
										d="M779.84082,504H228.15723A179.68176,179.68176,0,0,1,504.001,276.19141,179.69085,179.69085,0,0,1,779.84082,504Z"
										transform="translate(-197.32602 -223.51953)" />
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<script src="{{ asset('js/menu.js') }}"></script>

		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
					{{ message | raw }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		{% endfor %}

		{% block body %}{% endblock %}
		<!-- Footer -->
		<footer class="bg-dark py-2 mt-auto">
			<div class="container text-center">
				<small class="text-white-50">
					<span class="mx-4">&copy; 2025 Arnaud Bienvenu</span>
					<span class="mx-4">
						<a href="https://github.com/abienvenu/Kyela" class="text-white-50" target="_blank">
							{{ 'code.source' | trans }}
						</a>
					</span>
					<a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank" class="mx-4">
						<img src="{{ asset('img/license-AGPL3.0-red.svg') }}" alt="Licence AGPL 3.0" />
					</a>
				</small>
			</div>
		</footer>
	</body>
{% endblock %}
