{% block form_actions_widget %}
    {% for button in form.children %}
        {{ form_widget(button) }}
    {% endfor  %}
{% endblock %}

{% block form_actions_row %}
    {{ block('button_row')  }}
{% endblock %}

{% use 'form_div_layout.html.twig' with form_start as base_form_start %}
{% block form_start -%}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ " form-horizontal")|trim }) %}
	{{ block('base_form_start') }}
{%- endblock form_start %}

{% block form_row -%}
    <div class="form-group{% if required %} required{% endif %}">
        <div class="col-sm-2 text-right">
    		{{- form_label(form) -}}
        </div>
        <div class="col-sm-10">
	        {{- form_widget(form) -}}
	        {{- form_errors(form) -}}
	    </div>
    </div>
{%- endblock form_row %}

{% use 'form_div_layout.html.twig' with button_widget as base_button_widget %}
{% block button_widget %}
	{% if type is defined and type == 'submit' %}
		{% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-lg btn-'~attr.type|default('primary'))|trim }) %}
	{% else %}
		{% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-lg btn-'~attr.type|default('default'))|trim }) %}
	{% endif %}
    {% if attr.novalidate is defined and attr.novalidate %}
    	{% set attr = attr|merge({'formnovalidate': ''}) %}
    {% endif %}
    {{ block('base_button_widget') }}
{% endblock button_widget %}

{% use 'form_div_layout.html.twig' with form_widget_simple as base_form_widget_simple %}
{% block form_widget_simple -%}
 	{% set attr = attr|merge({'class': (attr.class|default('') ~ " form-control")|trim }) %}
   	{{ block('base_form_widget_simple') }}
{%- endblock form_widget_simple %}

{% use 'form_div_layout.html.twig' with form_label as base_form_label %}
{% block form_label -%}
	{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ " control-label")|trim }) %}
	{{ block('base_form_label') }}
{%- endblock form_label %}

{% use 'form_div_layout.html.twig' with choice_widget as base_choice_widget %}
{% block choice_widget -%}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ " form-control")|trim }) %}
	{{ block('base_choice_widget') }}
{%- endblock choice_widget %}

{% use 'form_div_layout.html.twig' with textarea_widget as base_textarea_widget %}
{% block textarea_widget -%}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ " form-control")|trim }) %}
	{{ block('base_textarea_widget') }}
{%- endblock textarea_widget %}

{% use 'form_div_layout.html.twig' with time_widget as base_time_widget %}
{% block time_widget -%}
    {% if widget == 'single_text' %}
   		<div class="input-group bootstrap-timepicker" style="z-index: 0">
   			{% set attr = attr|merge({'class': (attr.class|default('') ~ " timepicker form-control")|trim }) %}
  			{{ block('base_form_widget_simple') }}
   			<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
   		</div>
    {% else -%}
    	{{ block('base_time_widget') }}
    {%- endif %}
{%- endblock time_widget %}

{% block form_errors -%}
    {%- for error in errors -%}
        <span class="alert alert-danger pull-right" role="alert">{{ error.message }}</span>
    {%- endfor -%}
{%- endblock form_errors %}

{% block abienvenu_kyelabundle_icon_widget2 %}
	<div class="bs-glyphicons">
		<ul class="bs-glyphicons-list">
		{% for value, choice in choices %}
			<li>
				<input type="radio" {{ block('widget_attributes') }}{% if value %} value="{{ value }}"{% endif %} />
		   		<span class="glyphicon glyphicon-{{ choice.label }}"></span>
	   		</li>
	    {% endfor %}
	    </ul>
    </div>
{% endblock %}

{% block abienvenu_kyelabundle_icon_widget -%}
	<div {{ block('widget_container_attributes') }} class="bs-glyphicons">
		<ul class="bs-glyphicons-list">
		{%- for child in form %}
			<li>
				{{- form_widget(child) -}}
				<span class="glyphicon glyphicon-{{ child.vars.label }}"></span>
			</li>
		{% endfor %}
		</ul>
    </div>
{% endblock %}
