<div class="list-group">
{% for event in events %}
    <div class="list-group-item">
        <a href="{{ path('event_edit', {'pollUrl': poll.url, 'id': event.id}) }}">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
        <span class="badge">{{ event.participationsscore }}</span>
        {% if event.date %}
            {{ event.date|localizeddate('medium', 'none', app.request.locale, null, "cccc d MMMM") }}
        {% endif %}
        {% if event.date and event.time %}
            -
        {% endif %}
        {% if event.time %}
            {{ event.time|localizeddate('medium', 'none', app.request.locale, null, "H'h'mm") }}
        {% endif %}
        {% if (event.date or event.time) and event.place %}
            -
        {% endif %}
        {{ event.place }}
        {% if (event.date or event.time or event.place) and event.name %}
            &nbsp;:
        {% endif %}
        <strong>{{ event.name }}</strong>
    </div>
{% endfor %}
</div>
