{% extends "KyelaBundle::layout.html.twig" %}

{% block body %}

<ul class="list-group">
{% for event in events %}
	<li class="list-group-item">
		<span class="badge">{{ event.participationsscore }}</span>
		{{ event.datetime|localizeddate('medium', 'none', app.request.locale, null, "cccc d MMMM h'h'mm") }}&nbsp;: {{ event.name }}
	</li>
{% endfor %}
</ul>

<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}participant{% endtrans %}</th>
				{% for event in events %}
					<th data-cell-key="{{ event.id }}">
						{{ event.datetime|localizeddate('medium', 'none', app.request.locale, null, "d MMM h'h'mm") }}
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for participant in participants %}
			<tr>
				<td data-cell-key="{{ participant.id }}">{{ participant.name }}</td>
				{% for event in events %}
					<td>
						<div class="btn-group">
							{% set accessKey = event.id ~ '-' ~ participant.id %}
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								{{ attribute(participations, accessKey) is defined ? attribute(participations, accessKey).choice : '?' }}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								{%  for choice in choices %}
									<li>
										{% set parameters = {'event': event.id, 'participant': participant.id, 'choice': choice.id} %}
										{% if attribute(participations, accessKey) is defined %}
										<a href="{{ path('participation_edit', parameters|merge({'id': attribute(participations, accessKey).id})) }}">
										{% else %}
										<a href="{{ path('participation_new', parameters) }}">
										{% endif %}
											{{ choice.name }}
										</a>
									</li>
								{% endfor %}
								{% if attribute(participations, accessKey) is defined %}
								<li>
									<a href="{{ path('participation_delete', {'id': attribute(participations, accessKey).id}) }}">
										<span class="glyphicon glyphicon-trash"></span>
									</a>
								</li>
								{% endif %}
							</ul>
						</div>
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>Total</th>
				{% for event in events %}
					<th>
						{{ event.participationsscore }}
					</th>
				{% endfor %}
			</tr>
		</tfoot>
	</table>
</div>

<p>
	<a class="btn btn-primary btn-lg" role="button" href="{{ path('participant_new') }}">{% trans %}add.a.participant{% endtrans %}</a>
	<a class="btn btn-success btn-lg" role="button" href="{{ path('event_new') }}">{% trans %}add.a.date{% endtrans %}</a>
	<a class="btn btn-warning btn-lg" role="button" href="{{ path('choice') }}">{% trans %}edit.options{% endtrans %}</a>
</p>

<script>

$('.table-hover tbody tr td').click(function() {
	var participantId = $(this).data("cellKey");
	if (participantId) {
		window.location.replace('participant/' + participantId + '/edit');
	}
});

$('.table-hover thead tr th').click(function() {
    var eventId = $(this).data("cellKey");
    window.location.replace('event/' + eventId + '/edit');
});
</script>


{% endblock %}
