{% extends "KyelaBundle::layout.html.twig" %}

{% block body %}

<ul>
{% for event in events %}
	<li>{{ event.datetime|date("Y-m-d H:i") }}&nbsp;: {{ event.name }}</li>
{% endfor %}
</ul>

<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}participant{% endtrans %}</th>
				{% for event in events %}
					<th data-cell-key="{{ event.id }}">{{ event.datetime|date("Y-m-d H:i") }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Total</th>
				{% for event in events %}
					<th>?</th>
				{% endfor %}
			</tr>
		</tfoot>
		<tbody>
			{% for participant in participants %}
			<tr>
				<td data-cell-key="{{ participant.id }}">{{ participant.name }}</td>
				{% for event in events %}
					<td>
						{% if attribute(participations, event.id ~ '-' ~ participant.id) is defined %}
							{% set participation = attribute(participations, event.id ~ '-' ~ participant.id) %}
							<a class="btn btn-default" role="button" href="{{ path('participation_edit', {'id': participation.id}) }}">
								{{ participation.choice }}
							</a>
						{% else %}
							<a class="btn btn-default" role="button" href="{{ path('participation_new') }}">?</a>
						{% endif %}
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<p>
	<a class="btn btn-primary btn-lg" role="button" href="{{ path('participant_new') }}">{% trans %}add.a.participant{% endtrans %}</a>
	<a class="btn btn-success btn-lg" role="button" href="{{ path('event_new') }}">{% trans %}add.a.date{% endtrans %}</a>
	<a class="btn btn-warning btn-lg" role="button" href="{{ path('choice') }}">{% trans %}edit.options{% endtrans %}</a>
</p>

<script>
$('.table-hover tbody tr td').click(function() {
    var participantId = $(this).data("cellKey");
    window.location.replace('participant/' + participantId + '/edit');
});

$('.table-hover thead tr th').click(function() {
    var eventId = $(this).data("cellKey");
    window.location.replace('event/' + eventId + '/edit');
});
</script>


{% endblock %}
